/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV */
	div#nav {
        font-size: 0.8em;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
/* END NAV */