<settings>
	<servers>
		<server>
			<id>project</id>
			<username>root</username>
			<password>password</password>
		</server>
		<server>
			<id>release</id>
			<username>deployment</username>
			<password>password123</password>
		</server>
		<server>
			<id>snapshot</id>
			<username>deployment</username>
			<password>password123</password>
		</server>
		<server>
			<id>repository</id>
			<username>packager</username>
			<password>password123</password>
		</server>
	</servers>
	<!--
	<mirrors>
		<mirror>
			<id>internal</id>
			<mirrorOf>chinarewards</mirrorOf>
			<name>Archiva Managed Internal Repository</name>
			<url>http://build.dev.china-rewards.com:8081/archiva/repository/combined</url>
			<url>http://build.dev.china-rewards.com:8081/nexus</url>
-->
<!--			 <url>http://build.dev.china-rewards.com/repo</url> 	
		</mirror>
	</mirrors>
	-->
	<profiles>
		<profile>
		    <id>default</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>chinarewards-release</id>
					<name>China Rewards Release Repository</name>
					<!--
					<url>http://build.dev.china-rewards.com:8081/nexus/content/groups/public/</url>
					-->
					<url>http://repository.dev.china-rewards.com:8081/nexus/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
				</repository>
				<repository>
					<id>chinarewards-snapshot</id>
					<name>China Rewards Snapshot Repository</name>
					<!--
					<url>http://build.dev.china-rewards.com:8081/nexus/content/groups/public-snapshots/</url>
					-->
					<url>http://repository.dev.china-rewards.com:8081/nexus/content/groups/public-snapshots/</url>
					<layout>default</layout>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
				</repository>
			</repositories>
			<properties>
				<repo.incoming.url>scp://repository.dev.china-rewards.com/mnt/chinarewards/incoming</repo.incoming.url>
			</properties>
		</profile>
	</profiles>
</settings>