<configuration scan="true">

	<!--
		Provides console output. 
	 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} [%-16thread] [%-5p] %-27.27c{1} - %m%n</Pattern>
		</layout>
	</appender>
	
	<!--
		This appender defines a popular rollover strategy  
	 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>${POSNET_HOME}/log/posnet2.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${POSNET_HOME}/log/posnet2.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} [%-16thread] [%-5p] %-27.27c{1} - %m%n</Pattern>
		</layout>
	</appender>
	

	<!--
		Logger configurations 
	 -->

	<logger name="com.chinarewards" level="INFO" />
	
	<!-- Since hibernate produce too much INFO level information -->
	<logger name="org.hibernate" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>
